.image-list-page {
    padding: 15px;
    .add-image-button {
        margin-top: -66px;
        right: 100px;
        position: absolute;
    }

    label {
        font-weight: bolder;
    }

    .selected-image {
        width: 100%;
    }
}

